.env.local
venv/
en_core_web_sm-3.7.1-py3-none-any.whl
generated_dialogues.json
dialogue_hashes.json
dialogue_embeddings.npy
dialogue_generation.log
*.log
*.npy
*.whl
*.json
__pycache__
local_datasets
models
*.zip
auto.py
JSONs/
*.svg
nonf
*.jsonl
datawork
temp_repo/
postprocessing/
post_data/
data/
.coverage
*.csv
